<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="http://qrdl.fun">情热大陆 JounetsuTairiku</a></h1>
        <h3><a href="http://qrdl.fun">一个Minecraft服务器 <small>qrdl.fun</small></a></p>
        <img src="http://p.qlogo.cn/gh/705649604/705649604/0/" alt="Logo" />

        <h2>{{ site.title | default: '情热大陆 JounetsuTairiku' }}</h2>
        <h3>{{ site.description | default: '一个Minecraft服务器' }}</p>

        <ul class="contact">
          <li><a href="http://wpa.qq.com/msgrd?v=3&uin=1041397896&site=qq&menu=yes">联系腐竹<strong>CunMin</strong></a></li>
          <li><a href="http://wpa.qq.com/msgrd?v=3&uin=1524811747&site=qq&menu=yes">联系OP<strong>DiSHIL</strong></a></li>
          <li><a href="http://wpa.qq.com/msgrd?v=3&uin=2399052066&site=qq&menu=yes">联系负责人<strong>Zhilu</strong></a></li>
        </ul>
        <p><a href="http://qrdl.fun">主页 / Homepage</a></p>
        <p><a href="http://L33Z22L11.github.io/ExpressMe">表情转换 / Emoji Translator</a></p>
        <p><a href="http://qrdl.fun/history">历史 / History</a></p>

        <p class="group"><a target="_blank" href="https://jq.qq.com/?_wv=1027&k=5Lzj3H9">点击加入情热大陆服务器QQ群 <small>705649604</small>

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p>© 2019 <a href="http://qrdl.fun">情热大陆 qrdl.fun</p>
        <p><small>由 <a href="http://zhilu.fun">纸鹿君 Zhilu.fun</a> 提供无偿技术支持</small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>